@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.manrope {
  font-family: "Manrope", sans-serif;
}
.inter {
  font-family: 'Inter', sans-serif;
}
.Dmsans {
  font-family: 'DM Sans', sans-serif;
}

@import "tailwindcss";

@theme {
  --font-inter: 'Inter', sans-serif;
  --font-Dmsans: 'DM Sans', sans-serif;
  --font-manrope: 'Manrope', sans-serif;

  /* Colors */
  --color-Primary: #3579F6;
  --color-Black: #000;
  --color-Grey: #535353;
  --color-lightgrey: #808080;
  --color-Navyblue: #4262FF;
  --color-Darkgrey: #686D73; /* <- Only one definition now */
  --color-Dunkgrey: #E5E4EC;

  --container-width: 1380px;

  /* Breakpoints */
  --breakpoint-xs: 430px;

  /* Others */
  --color-fill: #F00;

  /* Rounded */
  --radius-primary: 20px;
  --radius-inps: 10px;

  /* Shadows */
  --shadow-primary: 0px 4px 40px 0px rgba(0, 0, 0, 0.12);
  --shadow-sec: 0px 4px 40px 0px rgba(0, 0, 0, 0.08);
  --shadow-btn: 0px 4px 40px 0px rgba(86, 108, 251, 0.42);
  --shadow-inps: 0px 4px 40px 0px rgba(255, 255, 255, 0.15);

  /* Backdrop blur */
  --blur-main: 28px;

  /* Drop Shadow */
  --drop-shadow-primary: 0px 4px 40px rgba(86, 108, 251, 0.42);
}

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}

@layer utilities {
  .container {
    padding: 0 16px;
    margin: 0 auto;
  }
  input::-webkit-autofill {
    background-color: transparent !important;
    background: transparent !important;
  }
}

@layer components {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
}

.ant-collapse-borderless {
  background: transparent !important;
}
.ant-collapse>.ant-collapse-item {
  background: #ffffff !important;
}
.ant-collapse-header-text {
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 129% !important;
  font-family: Inter !important;
}
.ant-collapse>.ant-collapse-item {
  border-radius: 26px !important;
  padding: 22px 20px !important;
}
.ant-collapse>.ant-collapse-item >.ant-collapse-header {
  padding: 0% !important;
}
.ant-collapse-content>.ant-collapse-content-box {
  padding: 0% !important;
  margin: 0% !important;
}

.marquee-wrapper {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  width: 100%;
}

.ant-modal-root .ant-modal {
  padding-top: 75px;
}
